= button_to 'TAKE',                                                                               |
  take_book_movements_path(@book, :taken_at => Time.now, :taker_name => request.user_agent.to_s), |
  class: 'btn btn-success'                                                                        |
