<div id="movements">
  <table class="table table-striped table-bordered table-condensed">
    <% movements.each do |movement| %>
    <thead>
      <th>Taken By</th>
      <th>Taken At</th>
      <th>Returned At</th>
    </thead>
    <tbody>
    <tr>
      <td><%= movement.taker_name %></td>
      <td><%= movement.taken_at %></td>
      <td><%= movement.returned_at %></td>
    </tr>
    </tbody>
    <% end %>
  </table>
</div>